__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
.env
.env.example
*.token.cache
videos/
.git/
.github/
.gitignore
README.md
CONTRIBUTING.md
CHANGELOG.md
.pre-commit-config.yaml
*.md
.vscode/
.idea/
docker-compose.yaml
release.json
.manifest.json
.github
.ruff_cache
.venv
.build
*.egg-info/
dist/
